@{
    Layout = "_Layout";
  }
    <h1>Music Organizer</h1>
    <h3><a href='/artists'>View artists</a></h3>
    <h3><a href='/artists/new'>Add a new artist</a></h3>
    <p><img src='~/img/kanyeImg.jpg'></p>
    <p><img src='~/img/albumCovers.jpeg'></p>
    
    
    
