@{
    Layout = "_Layout";
  }
    <h1>Add an artist</h1>
    <br>
    <p>Add an artist here: </p>
    <form action="/artists" method="post">
      <label for="artistName">Artist name</label>
      <input id="artistName" name="artistName" type="text">
      <button type="submit" class="btn btn-light">Add</button>
    </form>
