<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Organizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Add an artist</h1>
    <br>
    <p>Add an artist here: </p>
    <form action="/artists" method="post">
      <label for="artistName">Artist name</label>
      <input id="artistName" name="artistName" type="text">
      <button type="submit" class="btn btn-light">Add</button>
    </form>
  </body>
</html>