@{
    Layout = "_Layout";
  }
    @using MusicOrganizer.Models;

    <h3>Records by artist</h3>

    <ol>
      @foreach (Record record in @Model["records"])
      {
        <h3><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.RecordTitle</a></h3>
      }
    </ol>
    
    <p><a href='/artists/@Model["artist"].Id/records/new'>Add a new record</a></p>
    <p><a href='/artists'>Return to artist list</a></p>
    <p><a href='/'>Back home</a></p>
