<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Organizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using MusicOrganizer.Models;

    <h3>Records by artist</h3>

    <ol>
      @foreach (Record record in @Model["records"])
      {
        <h3><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.RecordTitle</a></h3>
      }
    </ol>
    
    <p><a href='/artists/@Model["artist"].Id/records/new'>Add a new record</a></p>
    <p><a href='/artists'>Return to artist list</a></p>
    <p><a href='/'>Back home</a></p>
  </body>
</html>