  @{
    Layout = "_Layout";
  }
    @using MusicOrganizer.Models;

    <h1>Record List</h1>
    @if (Model.Count == 0)
    {
      <p>There are no records in the list.</p>
    }
    <ul>
      @foreach (Record record in Model)
      {
        <li><a href='/records/@record.Id'>@record.RecordTitle</a></li>
      }
    </ul>

    <a href="/artists/{artistId}/records/new">Add a new record.</a>
    <form action="/artists/{artistId}/records/delete" method="post">
      <button type="submit" name="button" class="btn btn-light">Clear All records</button>
    </form>
    <p><a href='/artists'>Return to artist list</a></p>
    <p><a href='/'>Back home</a></p>
    
