  @{
    Layout = "_Layout";
  }
    <form action="/artists/@Model.Id/records" method="post">
      <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
      <label for="recordTitle">Record Title:</label>
      <input id="recordTitle" name="recordTitle" type="text">
      <button type='submit' class="btn btn-light">Add Record</button>
    </form>
