  @{
    Layout = "_Layout";
  }
    <h1>Record List Details: </h1>

    <h2>@Model["record"].RecordTitle</h2>
    <h3>artist: @Model["artist"].ArtistName</h3>

    <a href='/artists/@Model["artist"].Id/records/new'>Add another record</a>
    <br>
    <a href='/artists'>View all artists</a>
